Client/src/main/resources/wsdl/stockmovements.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://klayton.wade.hu/sm/wsdl/StockMovementService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="StockMovementService" targetNamespace="http://klayton.wade.hu/sm/wsdl/StockMovementService">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://klayton.wade.hu/sm/wsdl/StockMovementService" elementFormDefault="unqualified" targetNamespace="http://klayton.wade.hu/sm/wsdl/StockMovementService" version="1.0">

  <xs:element name="findByWareHouseId" type="tns:findByWareHouseId"/>

  <xs:element name="findByWareHouseIdResponse" type="tns:findByWareHouseIdResponse"/>

  <xs:element name="save" type="tns:save"/>

  <xs:element name="saveResponse" type="tns:saveResponse"/>

  <xs:complexType name="findByWareHouseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByWareHouseIdResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:summaryDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="summaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element minOccurs="0" name="type" type="tns:type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="save">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:stockMovementDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stockMovementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="productId" type="xs:long"/>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element minOccurs="0" name="type" type="tns:type"/>
      <xs:element minOccurs="0" name="wareHouseId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INCOMING"/>
      <xs:enumeration value="OUTGOING"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByWareHouseIdResponse">
    <wsdl:part element="tns:findByWareHouseIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByWareHouseId">
    <wsdl:part element="tns:findByWareHouseId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StockMovementService">
    <wsdl:operation name="findByWareHouseId">
      <wsdl:input message="tns:findByWareHouseId" name="findByWareHouseId">
    </wsdl:input>
      <wsdl:output message="tns:findByWareHouseIdResponse" name="findByWareHouseIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockMovementServiceSoapBinding" type="tns:StockMovementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findByWareHouseId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByWareHouseId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByWareHouseIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockMovementService">
    <wsdl:port binding="tns:StockMovementServiceSoapBinding" name="StockMovementPort">
      <soap:address location="http://localhost:8080/ws/stockmovements"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>