Client/src/main/resources/wsdl/warehouses.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://klayton.wade.hu/sm/wsdl/WareHouseService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WareHouseService" targetNamespace="http://klayton.wade.hu/sm/wsdl/WareHouseService">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://klayton.wade.hu/sm/wsdl/WareHouseService" elementFormDefault="unqualified" targetNamespace="http://klayton.wade.hu/sm/wsdl/WareHouseService" version="1.0">

  <xs:element name="delete" type="tns:delete"/>

  <xs:element name="deleteResponse" type="tns:deleteResponse"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="findOne" type="tns:findOne"/>

  <xs:element name="findOneResponse" type="tns:findOneResponse"/>

  <xs:element name="save" type="tns:save"/>

  <xs:element name="saveResponse" type="tns:saveResponse"/>

  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:wareHouseDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wareHouseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="validityDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOne">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wareHouseDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="save">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:wareHouseDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findOne">
    <wsdl:part element="tns:findOne" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findOneResponse">
    <wsdl:part element="tns:findOneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WareHouseService">
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findOne">
      <wsdl:input message="tns:findOne" name="findOne">
    </wsdl:input>
      <wsdl:output message="tns:findOneResponse" name="findOneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WareHouseServiceSoapBinding" type="tns:WareHouseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findOne">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findOne">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findOneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WareHouseService">
    <wsdl:port binding="tns:WareHouseServiceSoapBinding" name="WareHousePort">
      <soap:address location="http://localhost:8080/ws/warehouses"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>